apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-gateway
spec:
  project: {{ .Values.projectName }}
  source:
    chart: gateway
    repoURL: {{ .Values.istio.repo }}
    targetRevision: {{ .Values.istio.version }}
  destination:
    server: https://kubernetes.default.svc
    namespace: istio-ingress
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
